---
layout: page
title: 'Tag Index'
---

{%- assign tags_list = "" | split: "" -%}
{% for c in site.collections %}
    {% assign collection = c.label %}
    {% assign collection_tags =  site[collection] | map: 'tags' %}
    {% assign tags_list = tags_list | push: collection_tags %}
{% endfor %}
{% assign tags_list = tags_list | uniq | sort %}

{%- for tag in tags_list -%}
    {{- tag | first -}}{%- unless forloop.last -%},{%- endunless -%}
{%- endfor -%}

{%- for tag in tags_list -%}
    <a href="#{{ tag }}" class="btn btn-primary tag-btn"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;{{- tag -}}&nbsp;</a>
{%- endfor -%}

<div id="full-tags-list">
{%- for tag in tags_list -%}
    <h2 id="{{ tag }}" class="linked-section">
        <i class="fa fa-tag" aria-hidden="true"></i>
        &nbsp;{{ tag }}&nbsp;
    </h2>
    <div class="post-list">
        {% for c in site.collections %}
            {% assign label = c.label %}
            {% assign collection = site[label] %}
            {% for post in collection %}
                {% if post.url contains 'index' %}
                    {% continue %}
                {% endif %}
                {% unless post.tags contains tag %}
                    {% continue %}
                {% endunless %}
            <div class="tag-entry">
                <a href="{{- site.url -}}{{- post.url -}}">{{- post.title -}}</a>
                <div class="entry-date">
                    <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: "%B %d, %Y" -}}</time>
                </div>
            </div>
            {% endfor %}
        {%- endfor -%}
    </div>
{%- endfor -%}
</div>
